header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff914d;
    padding: 10px;
    width: 100%;
    height: 10%;
  }
  
  .logoDiv {
    max-width: 100%;
    height: auto;
  }
  
  .logoHeader {
    height: 100px;
  }
  .logoFooter {
    height: 60px;
  }
  
  
  
  
  @media only screen and (max-width: 768px) {
    header {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .search-box {
      flex-basis: 100%;
      margin: 10px 0;
    }
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff914d;
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 10%;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .copy p {
    margin: 0;
    font-size: 14px;
  }
  
  .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .links li {
    margin: 0 10px;
  }
  
  .links a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    background-color: #ac3737;
  }
  

  
  .root {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }
  

  
 
  
  
  