/* Estilos para el contenedor principal */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para las imágenes */
  .slideshow-container img {
    display: none;
    width: 25vw; /* Ancho fijo del 25% del ancho de la ventana */
    height: 25vh; /* Alto fijo del 25% del alto de la ventana */
    object-fit: contain; /* Ajusta la imagen al contenedor sin distorsionarla */
  }
  
  /* Mostrar la primera imagen */
  .slideshow-container img:first-child {
    display: block;
  }