.formulario{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
  .contenedor{
    width: 100%;
    padding: 15px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    margin-top: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 13px;
    border: none;
}
.input-contenedor{
    margin: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}


.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 900px;
}

.button-submit {
  background-color: orange;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-right: 10px;
}

.button-back {
  background-color: rgb(116, 114, 114);
  color: white;
  font-size: 18px;
  padding: 10px 20px;
}


  

p{
    margin-bottom: 65px;
    text-align: center;
}

.generos-favoritos {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    flex-wrap: wrap;

  }
  
  .form-check {
    margin-right: 10px;
  }
  
  .checkbox-label {
    font-size: 20px;
  }
  
  